@layer syntax-highlight {
  ::highlight(parameter) {
    color: #1a1a1a;
  }

  ::highlight(comment),
  ::highlight(prolog),
  ::highlight(doctype),
  ::highlight(cdata) {
    color: light-dark(#b3b3b3, hsla(0, 0%, 100%, 0.5));
  }

  ::highlight(punctuation) {
    color: #b3b3b3;
  }

  ::highlight(property),
  ::highlight(tag),
  ::highlight(boolean),
  ::highlight(number),
  ::highlight(constant),
  ::highlight(symbol),
  ::highlight(deleted),
  ::highlight(class-name) {
    color: light-dark(#e90, rgb(229, 192, 123));
  }

  ::highlight(selector),
  ::highlight(attr-name),
  ::highlight(string),
  ::highlight(char),
  ::highlight(builtin),
  ::highlight(inserted) {
    color: #bea5ff;
  }

  ::highlight(operator),
  ::highlight(entity),
  ::highlight(url) {
    color: #c1cff1;
    background: hsla(0, 0%, 100%, 0.5);
  }

  ::highlight(atrule),
  ::highlight(attr-value),
  ::highlight(keyword) {
    color: #00d061;
    color: rgb(209, 154, 102);
  }

  ::highlight(function) {
    color: rgb(198, 120, 221);
  }

  ::highlight(regex),
  ::highlight(important),
  ::highlight(variable) {
    color: #e90;
  }

  ::highlight(important),
  ::highlight(bold) {
    font-weight: bold;
  }

  ::highlight(italic) {
    font-style: italic;
  }

  ::highlight(entity) {
    cursor: help;
  }
}
