range-slider {
  --track-height: 6px;
  --thumb-size: 16px;

  position: relative;
  display: inline-flex;
  align-items: center;
  height: var(--thumb-size);
  min-width: 130px;
  margin: 2px;
  outline: 0;

  /* Make sure capture pointer events will work properly on touch devices */
  touch-action: none;
}

range-slider:focus-visible {
  outline: AccentColor auto 1px;
}

range-slider:active {
  opacity: 0.8;
}

range-slider[disabled] {
  filter: grayscale(1);
  opacity: 0.4;
}

/* Track */
range-slider [data-track] {
  align-self: center;
  flex: 1 1 0%;
  height: var(--track-height);
  border-radius: calc(var(--track-height));
  background: linear-gradient(
    to right,
    AccentColor var(--value-percentage, 0%),
    ButtonFace var(--value-percentage, 0%)
  );
}

range-slider[dir="rtl"] [data-track] {
  background: linear-gradient(
    to right,
    ButtonFace var(--value-percentage, 0%),
    AccentColor var(--value-percentage, 0%)
  );
}

/* Thumb */
range-slider [data-thumb] {
  background: AccentColor;
  border-radius: 50%;
  width: var(--thumb-size);
  height: var(--thumb-size);
  position: absolute;
  inset: 0 auto 0
    clamp(
      0%,
      calc(var(--value-percentage, 0%) + var(--thumb-size) / 2 * -1),
      calc(100% - var(--thumb-size))
    );
}

/* Vertical orientation */
range-slider[orientation="vertical"] {
  flex-direction: column;
  width: var(--thumb-size);
  min-width: initial;
  min-height: 130px;
}

range-slider[orientation="vertical"] [data-track] {
  width: var(--track-height);
  background: linear-gradient(
    to bottom,
    ButtonFace var(--value-percentage, 0%),
    AccentColor var(--value-percentage, 0%)
  );
}

range-slider[orientation="vertical"] [data-thumb] {
  inset: clamp(
      0%,
      calc(var(--value-percentage, 0%) + var(--thumb-size) / 2 * -1),
      calc(100% - var(--thumb-size))
    )
    auto 0 auto;
}
