range-slider {
  --track-size: 0.2rem;
  --thumb-size: 1.2rem;

  position: relative;
  display: inline-flex;
  align-items: center;
  min-block-size: var(--thumb-size);
  min-inline-size: 130px;
  border-radius: var(--track-size);
  margin: 2px;

  /* Prevent selection useful for touch devices */
  user-select: none;
  -webkit-user-select: none;

  /* Make sure capture pointer events will work properly on touch devices */
  touch-action: none;
}

range-slider:active {
  opacity: 0.8;
}

range-slider[disabled] {
  filter: grayscale(1);
  opacity: 0.4;
}

range-slider[orientation="vertical"] {
  flex-direction: column;
  width: var(--thumb-size);
  min-inline-size: var(--thumb-size);
  min-block-size: 130px;
}

/* Track */
range-slider [data-track] {
  pointer-events: none;
  flex: 1 1 0%;
  block-size: var(--track-size);
  background-color: lightgray;
  border-radius: inherit;
}

range-slider[orientation="vertical"] [data-track] {
  inline-size: var(--track-size);
  block-size: 100%;
}

/* Track fill */
range-slider [data-track-fill] {
  pointer-events: none;
  position: absolute;
  block-size: var(--track-size);
  background-color: #0075ff;
  border-start-start-radius: inherit;
  border-end-start-radius: inherit;
}

range-slider[orientation="vertical"] [data-track-fill] {
  inline-size: var(--track-size);
  block-size: auto;
  border-start-start-radius: unset;
  border-end-end-radius: inherit;
}

/* Runnable track */
range-slider [data-runnable-track] {
  pointer-events: none;
  position: absolute;
  inset: 0 calc(var(--thumb-size) / 2);
}

range-slider[orientation="vertical"] [data-runnable-track] {
  inset: calc(var(--thumb-size) / 2) 0;
}

/* Thumb */
range-slider [data-thumb] {
  pointer-events: auto;
  touch-action: none;
  background-color: #0075ff;
  border-radius: 100%;
  inline-size: var(--thumb-size);
  block-size: var(--thumb-size);
  position: absolute;
  margin-inline-start: calc(var(--thumb-size) / 2 * -1);
}

range-slider[orientation="vertical"] [data-thumb] {
  margin-inline-start: unset;
  margin-block: calc(var(--thumb-size) / 2 * -1);
}
