range-slider {
  --track-size: 0.3em;
  --thumb-size: 1em;
  --accent-color: #0075ff;
  --button-face: lightgray;

  position: relative;
  display: inline-flex;
  align-items: center;
  min-height: 1em;
  min-inline-size: 130px;
  margin: 2px;

  /* Make sure capture pointer events will work properly on touch devices */
  touch-action: none;
}

range-slider:active {
  opacity: 0.8;
}

range-slider[disabled] {
  filter: grayscale(1);
  opacity: 0.4;
}

range-slider[orientation="vertical"] {
  flex-direction: column;
  width: var(--thumb-size);
  min-inline-size: initial;
  min-block-size: 130px;
}

/* Track */
range-slider [data-track] {
  flex: 1 1 0%;
  block-size: var(--track-size);
  background: var(--button-face);
  border-radius: var(--track-size);
}

range-slider[orientation="vertical"] [data-track] {
  inline-size: var(--track-size);
  block-size: 100%;
}

/* Track fill */
range-slider [data-track-fill] {
  position: absolute;
  inset: auto 0;
  inline-size: clamp(
    0% +
    var(--thumb-size) /
    2,
    var(--value-percentage, 0%),
    100% -
    var(--thumb-size) /
    2
  );
  block-size: var(--track-size);
  background: var(--accent-color);
  border-start-start-radius: var(--thumb-size);
  border-end-start-radius: var(--thumb-size);
}

range-slider[orientation="vertical"] [data-track-fill] {
  inset: auto auto 0 auto;
  inline-size: var(--track-size);
  block-size: clamp(
    0% +
    var(--thumb-size) /
    2,
    var(--value-percentage, 0%),
    100% -
    var(--thumb-size) /
    2
  );
  border-start-start-radius: unset;
  border-end-end-radius: var(--thumb-size);
}

/* Runnable track */
range-slider [data-runnable-track] {
  position: absolute;
  inset: 0 calc(var(--thumb-size) / 2);
}

range-slider[orientation="vertical"] [data-runnable-track] {
  inset: calc(var(--thumb-size) / 2) 0;
}

/* Thumb */
range-slider [data-thumb] {
  background: var(--accent-color);
  border-radius: 100%;
  width: var(--thumb-size);
  height: var(--thumb-size);
  margin-block: auto;
  position: absolute;
  inset: 0 auto 0 var(--value-percentage, 0);
  margin-inline-start: calc(var(--thumb-size) / 2 * -1);
}

range-slider[dir="rtl"] [data-thumb] {
  inset: 0 var(--value-percentage, 0) 0 auto;
}

range-slider[orientation="vertical"] [data-thumb] {
  inset: auto auto var(--value-percentage, 0) auto;
  margin-inline-start: unset;
  margin-block: calc(var(--thumb-size) / 2 * -1);
}
